# Flutter/Dart specific files
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captured_plugins.gradle
**/android/Flutter/build/
**/android/Flutter/gen/
**/android/Flutter/intermediates/
**/android/Flutter/test/
**/android/Flutter/.cxx/
**/android/key.properties
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.idea/
**/android/*.iml
**/android/**/plugins/.git
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/.generated/
**/ios/Flutter/.symlinks/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/Flutter/Generated.xcconfig
**/ios/Flutter/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/FlutterMacOS
**/ios/Flutter/flutter_module.podspec
**/ios/Pods/
**/ios/.idea/
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.perspectivev3
**/ios/*.pbxuser
**/ios/*.xcworkspace
**/ios/*.xcuserdatad
**/ios/Runner/GeneratedPluginRegistrant.*

# Miscellaneous
*.iml
*.lock
*.log
*.DS_Store
.vscode/
.idea/
.pub/
.pub-cache/
*.flutter-plugins
*.flutter-plugins-dependencies
